<!-- <div class="background">
  <img src="../../../assets/img/textura-marmo.svg" alt="">
</div> -->
<section id="home">
  <div class="container1">
    <div class="marmoDiv">
        <img class="greyMarmo" src="../../assets/img/marmo-imago.svg" alt="">
        <img class="coloredMarmo" src="../../assets/img/marmo-imago.svg" alt="">
    </div>
  </div>
  <div class="container2">
    <div class="box">
      <div class="imgBox">
        <img src="../../../assets/img/marmo_MARCA.svg" alt="">
        <!-- <h1 class="mainTitle">Marmo</h1> -->
      </div>
        <div class="content">
          <div class="textDiv">
            <div class="textContainer">
              <h5>Marmo SDK simplifies interactions with the Ethereum network, allowing you to focus on building great blockchain products without worrying about the blockchain.</h5>
            </div>
          </div>
        </div>
       <div class=".buttonBox">
        <a href="#libraries"><button class="button">GET STARTED</button></a>
      </div>
    </div>  
  </div>
</section>