<section>
  <div class="allContent">
    <div class="phrasesBox">
      <div class="contentBox">
        <div class="textBox">
          <h3><b>OPEN-SOURCE</b></h3>
          <div class="text">
            <h6>Non-proprietary code for all the Ethereum development ecosystem to use, contribute to and enjoy.</h6>
          </div>
        </div>
      </div>
      <div class="contentBox">
        <div class="textBox">
          <h3><b>PLUG & PLAY</b></h3>
          <div class="text">
            <h6>The SDK works with every existing type of smart contract allowing a fast and seamless integration.</h6>
          </div>
        </div>
      </div>
      <div class="contentBox">
        <div class="textBox">
          <h3><b>TRUSTLESS</b></h3>
          <div class="text">
            <h6>Marmo’s Relayer broadcasts transactions to the network without any control over their content.</h6>
          </div>
        </div>
      </div>
    </div>
  </div> 
</section>
