<section>
  <div class="mainBox">
    <div class="sectionTitleBox">
      <h3 class="sectionSub">GET IN TOUCH!</h3>
    </div>
    <div class="socialOuterBox">
      <div class="socialBox">
        <div class="oneSocial"><a href="https://discordapp.com/invite/rB8PCP2" target="_blank" alt="discord link"><i class="fab fa-discord"></i></a></div>
        <div class="oneSocial"><a href="https://twitter.com/MarmoSDK" target="_blank" alt="twitter link"><i class="fab fa-twitter-square"></i></a></div>
        <div class="oneSocial"><a href="https://github.com/ripio/marmo-docs" target="_blank" alt="medium link"><i class="fab fa-medium"></i></a></div>
        <div class="oneSocial"><a href="https://github.com/ripio/marmo-docs" target="_blank" alt="github link"><i class="fab fa-github-square"></i></a></div>
      </div>
    </div>
  </div>
</section>


