<div class="background">
    <div class="img1">
        <img src="../../../assets/img/textura-marmo_2.svg" alt="texture">
    </div>
    <div class="img2">
        <img src="../../../assets/img/marmo-monochrome-01.png" alt="monkey image">
    </div>
</div>
<section id="libraries">
    <div class="mainBox">
        <div class="sectionTitleBox">
            <h2 class="sectionTitle">LIBRARIES</h2>
        </div>
        <div class="sectionSubtitleBox">
            <h6>Got languages? Get Marmo’s Java, Javascript and Python libraries up and running with one line of code!</h6>
        </div>
        <div class="nmpContainer">
            <div class="container">
                <div class="npmBox">
                    <div class="langBox">
                        <h3>Java</h3>
                    </div>
                    <div class="npm">
                        <div class="h5Box">
                            <h5 class="command">compile  <span class="etc">[...]</span><span class="ectCont">('network.marmoj:core:0.1.0')</span></h5>
                        </div>
                        <div>
                            <button (click)="copyJava('compile (network.marmoj:core:0.1.0)')"> <i class="far fa-copy"></i></button>
                        </div>
                    </div>
                </div>
                <div class="npmBox">
                    <div class="langBox">
                        <h3>Javascript</h3>
                    </div>
                    <div  class="npm">
                        <div>
                            <h5 class="command">npm install marmojs</h5>
                        </div>
                        <div>
                            <button (click)="copyJavascript('npm install marmojs')"> <i class="far fa-copy"></i> </button>
                        </div>
                    </div>
                </div>
                <div class="npmBox">
                    <div class="langBox">
                        <h3>Python</h3>
                    </div>
                    <div  class="npm">
                        <div>
                            <h5 class="command">pip install marmopy</h5>
                        </div>
                        <div>
                            <button (click)="copyPython('pip install marmopy')"> <i class="far fa-copy"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
