<section id="features">
    <div class="mainBox">
        <div class="sectionTitleBox">
            <h2 class="sectionTitle">FEATURES</h2>
        </div>
        <div class="featContent">
            <div class="centerContent">
                <div class="boxLeft">
                        <div class="iconBox">
                                <img src="../../../assets/ilustrations/ft-1.svg" alt="">
                            </div>
                    <div class="featBox">
                        <div class="content">
                            <div class="titleBox">
                                <h3><b>ETH-LESS TRANSACTIONS</b></h3>
                            </div>
                            <div class="descriptBox">
                                <h6>Marmo allows Ethereum addresses to complete transactions without requiring funds in Ether (ETH) or any token.</h6>
                            </div>
                        </div>
                    </div>
                    <div class="lineBox">
                        <div class="line1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="226.15" height="110.5" viewBox="0 0 226.15 110.5">
                                <defs>
                                <style>
                                    .cls-1a {
                                    fill: #bcbcbc;
                                    }
                            
                                    .cls-2 {
                                    fill: none;
                                    stroke: #bcbcbc;
                                    stroke-miterlimit: 10;
                                    }
                                </style>
                                </defs>
                                <g id="Group_80" data-name="Group 80" transform="translate(-930.85 -1040.5)">
                                <circle id="Ellipse_75" data-name="Ellipse 75" class="cls-1" cx="5" cy="5" r="5" transform="translate(1147 1141)"/>
                                <path id="Path_211" data-name="Path 211" class="cls-2" d="M330.893,220.633V129.775c0-12.581-12.285-12.581-12.285-12.581H109.345" transform="translate(821.505 923.806)"/>
                                </g>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="boxRig">
                    <div class="lineBox2">
                        <div class="line1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="316.98" height="143.5" viewBox="0 0 316.98 143.5">
                                    <defs>
                                      <style>
                                        .cls-1 {
                                          fill: none;
                                          stroke: #bcbcbc;
                                          stroke-miterlimit: 10;
                                        }
                                  
                                        .cls-2 {
                                          fill: #bcbcbc;
                                        }
                                      </style>
                                    </defs>
                                    <g id="Group_83" data-name="Group 83" transform="translate(-268 -1202.5)">
                                      <path id="Path_213" data-name="Path 213" class="cls-1" d="M-140.3,255.56V129.775c0-12.581,13.993-12.581,13.993-12.581h298.38" transform="translate(412.903 1085.806)"/>
                                      <circle id="Ellipse_77" data-name="Ellipse 77" class="cls-2" cx="5" cy="5" r="5" transform="translate(268 1336)"/>
                                    </g>
                                  </svg>
                         </div>
                    </div>
                    <div class="iconBoxR">
                            <img src="../../../assets/ilustrations/ft-2.svg" alt="">
                        </div>
                    <div class="featBoxR">

                        <div class="content">
                            <div class="titleBox">
                                <h3><b>ZERO GAS MATH</b></h3>
                            </div>
                            <div class="descriptBox">
                                <h6>The Relayer handles Gas Price and Gas Limits calculations automatically, simplifying interactions with the Ethereum network.</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="boxLeft">
                        <div class="iconBox">
                                <img src="../../../assets/ilustrations/ft-3.svg" alt="">
                            </div>
                    <div class="featBox">

                        <div class="contentadj">
                            <div class="titleBox">
                                <h3><b>NONCE-FLEXIBLE CODE</b></h3>
                            </div>
                            <div class="descriptBox">
                                <h6>The SDK allows to write transactions with any number of dependencies (including zero), making it possible to execute them in any order or without any in particular.</h6>
                            </div>
                        </div>
                    </div>
                    <div class="lineBox">
                        <div class="line1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="186.709" height="135.5" viewBox="0 0 186.709 135.5">
                                <defs>
                                    <style>
                                        .cls-1a {
                                          fill: #bcbcbc;
                                        }
                                  
                                        .cls-2 {
                                          fill: none;
                                          stroke: #bcbcbc;
                                          stroke-miterlimit: 10;
                                        }
                                    </style>
                                </defs>
                            <g id="Group_82" data-name="Group 82" transform="translate(-753.291 -1400.5)">
                                <g id="Group_81" data-name="Group 81">
                                <circle id="Ellipse_76" data-name="Ellipse 76" class="cls-1" cx="5" cy="5" r="5" transform="translate(930 1526)"/>
                                <path id="Path_212" data-name="Path 212" class="cls-2" d="M230.893,246.029V129.775c0-12.581-12.285-12.581-12.285-12.581H49.577" transform="translate(703.714 1283.806)"/>
                                </g>
                            </g>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="boxRig">
                        <div class="iconBoxR">
                                <img src="../../../assets/ilustrations/ft-4.svg" alt="">
                            </div>
                    <div class="featBoxR">

                        <div class="content">
                            <div class="titleBox">
                                <h3><b>EXPIRABLE TRANSACTIONS</b></h3>
                            </div>
                            <div class="descriptBox">
                                <h6>Marmo enables the creation of transactions with expirations dates, which will always get executed within a predefined time frame.</h6>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>

                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</section>