$grayColor: #f5f5f5;
$grayColor2: #8e8e8e;
$grayColor3: #808080;
$grayColor4: #4e4e4e;
$orangeColor: #E59248;
$yellowColor: #F7C34D;

section {
    background-image: linear-gradient(to right, $yellowColor , $orangeColor);
    position: relative;
    padding: 10% 0;
    display: block;
    overflow: hidden;
}

.background {
    position: relative;
    z-index: 1;
    width: 100%;
    height: inherit;
    opacity: 0.1;
    .img1 {
        width: 200%;
        height: auto;
        position: absolute;
        right: 0px;
            img {
                width: 100%;
            }
    }

}

.box {
    display: flex;
    justify-content: center;
}


.sectionTitleBox {
    margin: 0;
    .sectionTitle {
        color: #ffffff;
    }
}

.descriptBox {
    text-align: center;
    margin: 5% 0 5% 0;
    h5 {
        color: white;
        margin: 1% 0 0 0;
        font-size: 18px;
    }
}

.buttonsBox {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    .button {
        background: none;
        color: white;
        font-weight: 900;
        font-size: 14px;
        letter-spacing: 2px;
        border: solid white 2px;
        padding: 15px 30px;
        border-radius: 50px;
        margin: 3% 2% 0 2%;
        outline: inherit;
        font-family: 'Lato', sans-serif;
        cursor: pointer;
    }
}

h2 {
    font-size: 25px;
}

@media (min-width: 1200px) {
    section {
        padding: 0;
        position: relative;
        z-index: 1;
    }

    h2 {
        font-size: 29px;
    }


    .descriptBox {
        margin: 0;
        h5 {
            margin: 2% 0 0 0;
            font-size: 20px;
        }
    }

    .background {
        position: relative;
        z-index: 1;
        width: 100%;
        height: auto;
        opacity: 0.1;
        display: flex;
        justify-content: flex-end;
        .img1 {
            width: 40%;
            height: auto;
            position: absolute;
            right: 0px;
                img {
                    width: 100%;
                }
        }
    
    }

    .buttonsBox {
        .button {
            padding: 15px 50px;
        }
        button:hover { 
            background-color: rgba(255, 255, 255, 0.144);
            color: white;
            border: solid 1.5 white;
          }
    }

}
