<section id="info">
    <div class="background">
        <div class="img1">
            <img src="../../../assets/img/textura-marmo_2.svg" alt="texture">
        </div>
    </div>
    <div class="box">
        <div class="mainBox">
            <div class="sectionTitleBox">
                <h2 class="sectionTitle">DOCUMENTATION</h2>
            </div>
            <div class="descriptBox">
                <h5>Want to learn more? You can access Marmo’s full documentation here.</h5>
            </div>
            <div class="buttonsBox">
                <button (click)="navDoc()" class="button">LEARN MORE</button>
            </div>
        </div>
    </div>
</section>
