<section>
  <div class="mainBox">
    <div class="footerBox">
      <div class="copy">
        <div class="box">
          <p><b>Made with  <i class="far fa-heart"></i>  by </b></p>     
            <div class="imgBox">
              <a href="https://ripiocredit.network/" target="_blank"><img src="../../assets/img/logo-rcn.png" alt=""></a>
            </div>
        </div>
        <div class="box">
            <p><b> |</b> Copyleft @ 2019 Ripio Credit Network</p>
        </div>
      </div>
    </div>
  </div>
</section>