<section id="multilanguage">
    <div class="mainBox">
        <div class="sectionTitleBox">
            <h3 class="sectionSub">CHECK THE CODE!</h3>
        </div>
        <div>
            <div class="content">
                <div class="box">
                    <div class="langs" [ngClass]="statusPython ? 'langsOn' : 'langs'">
                        <button (click)="togglePython()" [ngClass]="statusPython ? 'langBoxOn' : 'langBoxOff'">
                            <h3>Python</h3>
                        </button>
                        <button (click)="toggleJavascript()" [ngClass]="statusJavascript ? 'langBoxOn' : 'langBoxOff'">
                            <h3>JavaScript</h3>
                        </button>
                        <button (click)="toggleJava()" [ngClass]="statusJava ? 'langBoxOn' : 'langBoxOff'">
                            <h3>Java</h3>
                        </button>
                    </div>
                    <div class="codeBox">
                        <div *ngIf = "isPython" class="imgCont">
                            <pre class="code"><code [highlight]="python"></code></pre>
                        </div>
                        <div *ngIf = "isJavascript" class="imgCont">
                            <pre class="code"><code [highlight]="javascript"></code></pre>
                        </div>
                        <div *ngIf = "isJava" class="imgCont">
                            <pre class="code"><code [highlight]="java"></code></pre>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</section>