<nav class="navbar">
  <div class="imgDiv">
    <a (click)="clearSec()" href="#home"><img src="../../assets/img/marmo-iso.svg" alt=""></a> 
  </div>  
  <button class="bars" (click)="mobileMenu()" >
    <i *ngIf="!mobile" class="fas fa-bars"></i>
    <i *ngIf="mobile" class="fas fa-times"></i>
  </button>
  <div [ngClass]="mobile ? 'mobile' : 'container'">
      <div class="nav">
        <div class="secBox">
            <div class="sec"><a (click)="sectionFeat()" (click)="hideMenu()" href="#features">FEATURES</a></div>
            <div class="dotBox">
              <div [ngClass]="features? 'dot' : 'noDot'"></div>
            </div>
        </div>
        <div class="secBox">
            <div class="sec"><a  (click)="sectionLib()"  href="#libraries">LIBRARIES</a></div>
            <div class="dotBox">
              <div [ngClass]="libraries? 'dot' : 'noDot'"></div>
            </div>
        </div>
        <div class="secBox" >
            <div class="sec"><a href="https://quirky-nightingale-fa573a.netlify.com/docs/intro" target="_blank">DOCUMENTATION!</a></div>
            <div class="dotBox">
              <div class="noDot"></div>
            </div>
          </div>
        <div class="secBox" >
            <div class="sec"><a href="https://github.com/ripio/marmo-docs" target="_blank">GITHUB!</a></div>
            <div class="dotBox">
              <div class="noDot"></div>
            </div>
          </div>
       </div>
  </div>
  <div [ngClass]="mobile ? 'back' : 'noBack'">
    
  </div>
</nav>


