$grayColor: #f5f5f5;
$grayColor2: #8e8e8e;
$grayColor3: #808080;
$grayColor4: #4e4e4e;
$orangeColor: #E59248;
$yellowColor: #F7C34D;

.navbar {
    width: 100%;
    height: 9vh;
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 3px 5px #e6e5e5;   
    .imgDiv {
        width: 90px;
        margin-left: 5%;
        img {
             width: 100%;
        }
    }
}

.bars {
    margin-right: 5%;
    font-size: 30px;
    color: $grayColor3;
    display: block;
    .fa-bars {
        display: block;
    }
    .no-fa-bars {
        display: none;
    }
    .fa-times {
        display: block;
    }
    .no-fa-times {
        display: none;
    }

}

.container{
    margin: 0 5% 0 0;
    display: none;
    width: 80%;
}

.mobile {
    display: block;
    position: absolute;
    z-index: 2;
    top: 100%;
    width: 100%;
}

.nav {
    display: block;
    width: auto;
    width: 100%;
    .secBox {
        margin: 0;
        width: auto;
        background-color: white;
        display: flex;
        align-items: center;
        border-top: solid 1px $grayColor;
        .sec {
            display: flex;
            justify-content: flex-start;
            width: auto;
            padding: 8% 0 8% 10%;
        }
    }
}

.dotBox {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    margin-left: 2%;
    .dot {
        width: 7px;
        height: 7px;
        border-radius: 50px;
        background-color: $yellowColor;
    }
    .noDot {
        width: 7px;
        height: 7px;
        border-radius: 50px;
        background-color: white;
    }

}

.noNav {
    display: none;
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    letter-spacing: 2px;
    font-size: 12px;
}

a:hover { 
    color: $grayColor2;
  }

.back {
    display: block;
    position: absolute;
    z-index: 0;
    top: 100%;
    height: 1000px;
    width: 100%;
    background-color: #4e4e4e;
    opacity: 0.5;
}

.noBack {
    display: none;
}

@media (min-width: 1200px) {

    .nav{
        width: 55%;
    }

}

@media (min-width: 1800px) {

    .nav{
        width: 35%;
    }

}

@media (min-width: 1200px) {
    
    .navbar {
        height: 65px;
        .imgDiv {
            width: 110px;
        }
    }

    .bars {
        display: none;
    }
     
    .container {
        display: flex;
        justify-content: flex-end;
        margin: 0 5% 0 0;
        width: 80%;
    }
   
    .mobile {
        display: block;
    }
    
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .secBox {
            margin: 0 2%;
            width: auto;
            display: block;
            border-top: none;
            .sec {
                justify-content: center;
            }
        }
    }

    .dotBox {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        margin-top: 0;
        margin-left: 0;
        .dot {
            width: 7px;
            height: 7px;
            border-radius: 50px;
            background-color: $yellowColor;
        }
        .noDot {
            width: 7px;
            height: 7px;
            border-radius: 50px;
            background-color: none;
        }
    }
    
    
    a {
        text-decoration: none;
        color: black;
        font-weight: bolder;
        letter-spacing: 4px;
        font-size: 14px;
    }

}
